@import "../../main/main.scss";
@import "../../variables/colors/colors.scss";
@import "../../variables/font/fontthemes.scss";


.copyright {
    font-family: #fff;
    font-size: clamp(0.5rem, 0.5rem + 0.25vw, 1rem);
}

.linked-icon {
    width: 60px;
    height: 60px;
}