@import "../../main/main.scss";
@import "../../variables/colors/colors.scss";
@import "../../variables/font/fontthemes.scss";


.card {
    background-color: $black-primary;
    .card-title {
        color: #D3D3D3;
    }

    .card-text {
        color: #D3D3D3;
        letter-spacing: 0.028em;
    }

    p {
        color: #D3D3D3;
        letter-spacing: 0.028em;
    }
}

.comment-title {
    color: #ffffff;
}