@import "../../main/main.scss";
@import "../../variables/colors/colors";
@import "../../variables/font/fontthemes";

.hero-caption {
    font-size: 20px;
    letter-spacing: 0.0625rem;
}

.skill-card {
    background-color: $black-primary;
}

.anime-card {
    min-height: 11em;
}

.skill-image {
    width: 100px;
    height: 100px;
}