.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0; // Combined margin-top and margin-bottom
    overflow: hidden;
  
    @media (min-width: 992px) {
      margin: 2rem 0; // Increased margin on larger screens
      align-items: flex-start; // Align to the left
    }
  
    @media (min-width: 1200px) {
      justify-content: space-between; // Distribute space between elements
    }
  
    .hero-title-col {
      padding: 1em;
      width: 100%;
      text-align: center;
  
      @media (min-width: 768px) {
        align-self: flex-start;
        text-align: left;
        max-width: 80%;
      }
  
      @media (min-width: 992px) {
        padding: 0 2em 0 0; // Simplified padding
      }
    }
  
    .hero-caption-col {
      margin-top: 1em;
      padding: 1em;
      max-width: 95%;
      text-align: center;
  
      @media (min-width: 576px) {
        padding: 1.5em;
        max-width: 80%;
      }
  
      @media (min-width: 768px) {
        margin-top: 0;
        padding: 2rem;
        width: 60%;
        align-self: center;
        text-align: left; // Aligned the text to the left
      }
  
      @media (min-width: 992px) {
        padding: 2em;
        align-self: flex-end; // Aligned to the end on larger screens
        max-width: 55%;
      }
  
      @media (min-width: 1200px) {
        padding: 0;
        max-width: 35%;
      }
    }
  
    .hero-button-col {
      display: flex;
      justify-content: center;
      margin-top: 1em;
      width: 100%;
  
      @media (min-width: 768px) {
        justify-content: flex-start; // Aligned the button to the left
        margin-top: 2rem;
        padding-left: 2rem;
      }
  
      @media (min-width: 992px) {
        padding-left: 3rem;
      }
  
      @media (min-width: 1200px) {
        margin-top: 0; // Removed unnecessary margin
        padding: 1.5em; // Simplified padding
      }
    }
  }