@import "../../variables/font/fontthemes.scss";
@import "../../variables/colors/colors.scss";

// Variables for font sizes
$hero-title-sizes: (
    5.5rem,
    7rem,
    8rem,
    10rem,
    12rem
);

// Call-to-action styles
.call-to-action {
    background-color: #00BFFF;
    color: #333333;
    transition: background-color 0.3s, transform 0.2s;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    &:hover {
        background-color: #0099CC;
        transform: scale(1.05);
    }
}

// Hero title styles
.hero-title {
    font-size: nth($hero-title-sizes, 1); // Default size

    @media (min-width: 768px) {
        font-size: nth($hero-title-sizes, 2);
    }

    @media (min-width: 992px) {
        font-size: nth($hero-title-sizes, 3);
    }

    @media (min-width: 1200px) {
        font-size: nth($hero-title-sizes, 4);
    }

    @media (min-width: 1400px) {
        font-size: nth($hero-title-sizes, 5);
    }
}
