@import '../reset/reset.scss';
@import '../variables/colors/colors';
@import '../variables/font/fontthemes.scss';

body {
    background-color: $black-primary;
    font-family: $fontFamily;
    color: $black-primary;
}

.h1, .h2, p {
    margin: 0;
    padding: 0;
}

.h1 {
    font-family: $FontTitle;
    font-weight: 700;
    color: $steelblue;
    text-transform: uppercase;
}

.h2 {
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    font-family: $fontCaption;
    color:#D3D3D3;
}

@media (min-width: 992px) {
    .h2 {
        font-size: 1.5rem;
    }
}



@media (min-width: 1200px) {
    .h2 {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.125rem;
    font-weight: 500;
    color: $white-primary;
}


.container-fluid {
    margin: 0 auto;
    max-width: 90rem;
}
