@import "../../main/main.scss";
@import "../../variables/font/fontthemes.scss";

.offcanvas-header {
    background-color: #050505;
    color:#00BFFF;
    text-transform: uppercase;

    .btn-close {
        background-color: #ffffff;
        color: #ffffff;
    }
}
.offcanvas-body {
    background-color: #050505;
    .nav-link {
        text-transform: uppercase;
        color:#00BFFF;
    }

    .nav-link:hover {
        background-color: #333333;
        color:#ffffff;
    }

    .navbar-brand {
        display: none;
    }
}

@media (min-width: 992px) {
    .offcanvas-body {
        .navbar-brand {
            display: block;
        }
    }
}

.navbar  {
    padding: 0 !important;
    margin-top: 1.25rem;
    position: relative;

    @media (min-width: 762rem) {
        .navbar {
            margin-top: 1.81rem;
        }
    }

    @media (min-width: 992px) {
        .navbar {
            margin-top: 2.44rem;
        }
    }

    .container {
        .navbar-toggler {
            border: 4px solid #333333;
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,191,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        .navbar-nav {
            align-items: start;
            margin-top: 1rem;
            gap: 1rem;

            .nav-link {
                color: #00BFFF;
                text-transform: uppercase;
            }

            .nav-link:hover {
                background-color:#333333;
                color: $steelblue;
            }

            .projects-tab {
                font-size: 1.25rem;
            }

            .projects:hover {
                color: #4b4b4b;
            }
        }

        @media (min-width: 992px) {
            .navbar-nav {
            align-items: center !important;
            width: 100%;
            padding-left: 0rem;
            align-items: center;
            margin-top: 0;
        }

        .navbar-brand {
            color: #fff;
            text-transform: uppercase;
            font-size: clamp(1.25rem, 1.5vw + 1rem ,1.75rem);
        }
    }

        i {
            color: $white-primary;
        }

        i:hover {
            color:#0d6efd;
        }

        i:active {
            color: #A9A9A9;
        }
    }

}

