@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400&display=swap" rel="stylesheet"');
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Charm:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400&display=swap" rel="stylesheet"');
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Charm:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: #050505;
  font-family: "Lato", sans-serif;
  color: #050505;
}

.h1, .h2, p {
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: 700;
  color: #ffffff;
}

.h2 {
  font-size: 1.125rem;
  color: #D3D3D3;
}

@media (min-width: 992px) {
  .h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .h2 {
    font-size: 1.5rem;
  }
}
p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}

.container-fluid {
  margin: 0 auto;
  max-width: 90rem;
}

.offcanvas-header {
  background-color: #050505;
  color: #00BFFF;
  text-transform: uppercase;
}
.offcanvas-header .btn-close {
  background-color: #ffffff;
  color: #ffffff;
}

.offcanvas-body {
  background-color: #050505;
}
.offcanvas-body .nav-link {
  text-transform: uppercase;
  color: #00BFFF;
}
.offcanvas-body .nav-link:hover {
  background-color: #333333;
  color: #ffffff;
}
.offcanvas-body .navbar-brand {
  display: none;
}

@media (min-width: 992px) {
  .offcanvas-body .navbar-brand {
    display: block;
  }
}
.navbar {
  padding: 0 !important;
  margin-top: 1.25rem;
  position: relative;
}
@media (min-width: 762rem) {
  .navbar .navbar {
    margin-top: 1.81rem;
  }
}
@media (min-width: 992px) {
  .navbar .navbar {
    margin-top: 2.44rem;
  }
}
.navbar .container .navbar-toggler {
  border: 4px solid #333333;
}
.navbar .container .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,191,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .container .navbar-nav {
  align-items: start;
  margin-top: 1rem;
  gap: 1rem;
}
.navbar .container .navbar-nav .nav-link {
  color: #00BFFF;
  text-transform: uppercase;
}
.navbar .container .navbar-nav .nav-link:hover {
  background-color: #333333;
  color: #4682B4;
}
.navbar .container .navbar-nav .projects-tab {
  font-size: 1.25rem;
}
.navbar .container .navbar-nav .projects:hover {
  color: #4b4b4b;
}
@media (min-width: 992px) {
  .navbar .container .navbar-nav {
    align-items: center !important;
    width: 100%;
    padding-left: 0rem;
    align-items: center;
    margin-top: 0;
  }
  .navbar .container .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 1.5vw + 1rem, 1.75rem);
  }
}
.navbar .container i {
  color: #fff;
}
.navbar .container i:hover {
  color: #0d6efd;
}
.navbar .container i:active {
  color: #A9A9A9;
}/*# sourceMappingURL=Header.css.map */