@import "../../main/main.scss";
@import "../../variables/font/fontthemes.scss";
@import "../../variables/colors/colors.scss";

.project-card {
    background-color: #050505
}

.project-image {
    width: 200px;
    height: 200px;
}

@media (min-width: 576px) {
    .project-image {
        width: 300px;
        height: 200px;
    }
}

.project-title {
    color: #D3D3D3;
}

a {
    text-decoration: none;
}

