
@use 'sass:math';
@use 'sass:color';
@use '../../variables//colors/colors.scss' as colors;

.card-link {
    text-decoration: none;

    .card {
        align-items: center;
        max-width: 425px;
        max-height: 425px;
        background-color: colors.colorTheme(white-primary);
        padding:1em;

        .project-card-img{
            width: 80%;
            margin-bottom: 1rem;
         }

         .card-title {
            text-align: center;
            color: colors.colorTheme(teal-accent);
        }

        .card-body {
            padding: 0;
            text-align: center;
            color: colors.colorTheme(deep-blue);
            max-width: 95%;
        }
    
    }
}