@import "../../variables/colors/colors.scss";
@import "../../variables/font/fontthemes.scss";

.contact-form {
    background-color: #333333;

    .label {
        color: #D3D3D3;
    }
    .form-label {
        color: $form-label;
    }

    .form-check-label {
        color: $form-label;
    }

    .form-control {
        color: #D3D3D3;
    }

    .form-control::placeholder {
        color: #D3D3D3;
    }
}

.feed-back-title {
    color: #00BFFF;
}

.feedback-label {
    color: #D3D3D3;
}

.feed-back-btn {
    background-color: #00BFFF;
    color: #333333;
    transition: background-color 0.3s, transform 0.2s;
    letter-spacing: 0.02em;

    &:hover {
        background-color: #0099CC;
        transform: scale(1.05);
    }
}




