.contact-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;

    @media (min-width: 992px) {
        margin: 0 auto;
    }
    
    .contact-container {
      display: flex;
      flex-direction: column;
      
        .contact-col {
            display: flex;
            text-align: center;
            padding: 0 1rem;
            justify-content: center;
        
            .contact-title {
                margin-bottom: 1rem;
                max-width: 80%;

                    @media (min-width: 992px) {
                    max-width: 100%;
                }
            }
        }
  
        .contact-links-col {
            margin-bottom: 1rem;
            padding: 0;
  
            .contact-links {
                justify-content: space-around;
                padding: 0;
            }
        }
    }
  
    .feedback-container {
      display: flex;
      text-align: center;
  
        .feed-back-title {
            margin-bottom: 1rem;
        }
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  
    .contact-info-group {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 0 1rem;
  
        @media (min-width: 768px) {
            flex-direction: row;
            column-gap: 1rem;
        }

        .choice {
            display: flex;
            align-items: center;
        }

  
        .contact-info-input {
            margin-bottom: 1rem;
  
            .form-label {
                margin-bottom: 1rem;
            }
  
            .form-check-label {
                display: flex;
                width: 100%;
                margin-bottom: 1rem;

                .form-check-input {
                    margin-right: 2rem;
                }
            }
        }
  
        .contact-info-btn {
            display: flex;
            justify-content: center;
  
            @media (min-width: 768px) {
                justify-content: flex-start;
            }
        }
    }
  }